In [15]:
import pandas as pd

In [20]:
g_sitios = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\g_sitios_v4.parquet', engine='pyarrow')
pd.set_option('display.max_colwidth', None)
g_sitios.head()

,name,id_negocio,description,avg_rating,num_of_reviews,url,id_estado,id_category_general
0,"Seligman Fountain - ""Bear and Faun""",0x89c2f6163ac2864f:0xa4213a2f66c15d8f,None,4.5,4,https://www.google.com/maps/place//data=!4m2!3m1!1s0x89c2f6163ac2864f:0xa4213a2f66c15d8f?authuser=-1&hl=en&gl=us,13,14
1,101 Mobility,0x864c1f10c079a921:0x95710cd26231cc3,None,5.0,45,https://www.google.com/maps/place//data=!4m2!3m1!1s0x864c1f10c079a921:0x95710cd26231cc3?authuser=-1&hl=en&gl=us,6,7
2,All Time Auto Transport,0x88d9050582e1e64b:0x33457ba08c64df20,None,4.8,96,https://www.google.com/maps/place//data=!4m2!3m1!1s0x88d9050582e1e64b:0x33457ba08c64df20?authuser=-1&hl=en&gl=us,5,14
3,Scouts,0x88e783a0a141ae61:0xc8892c7a3b97364b,None,5.0,6,https://www.google.com/maps/place//data=!4m2!3m1!1s0x88e783a0a141ae61:0xc8892c7a3b97364b?authuser=-1&hl=en&gl=us,5,7
4,Modoc County Record Inc,0x54cb90a9d85b5a37:0x2a6d31d462a28f2e,None,4.3,7,https://www.google.com/maps/place//data=!4m2!3m1!1s0x54cb90a9d85b5a37:0x2a6d31d462a28f2e?authuser=-1&hl=en&gl=us,2,14

In [ ]:
categorias = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\dataset_gastronomico_google.parquet', engine='pyarrow')
categorias

                                       gmap_id                category
121      0x7954d376a8b12db3:0xa51dd57e1cc14ca9              Food court
125      0x880e5523024703c1:0xb93a8ccb6918d616            Liquor store
126      0x80c8be4e73e8263f:0x3edb275a351e6266            Cocktail bar
142      0x88f3fb847f6a4833:0x91a0e1ef28d778ed            Banquet hall
142      0x88f3fb847f6a4833:0x91a0e1ef28d778ed                 Caterer
...                                        ...                     ...
3024992  0x89c6b993431d9a19:0xea378de3c317996e             Bar & grill
3025005    0x89da6b8177ee49d5:0xbc9dfc53722fe1             Bar & grill
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12             Steak house
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12  Fine dining restaurant
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12      Seafood restaurant

[508929 rows x 2 columns]

In [ ]:
# Renombrar la columna 'gmap_id' a 'id_negocio'
categorias.rename(columns={'gmap_id': 'id_negocio'}, inplace=True)

In [ ]:
categorias = categorias.merge(g_sitios[['id_negocio', 'name']], on='id_negocio', how='left')

In [ ]:
# Eliminar las filas donde la columna 'name' es NaN
categorias.dropna(subset=['name'], inplace=True)

In [ ]:
# Filtrar filas donde 'id_negocio' sea igual a 7
categorias_filtradas = categorias[categorias['id_category_general'] == 7]

categorias_filtradas.head(50)

KeyError: 'id_category_general'

In [ ]:
crudo = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\categories_sitios_google_todavia_nombres.parquet', engine='pyarrow')
crudo.head()

                                 gmap_id           category
0  0x88f16e41928ff687:0x883dad4fd048e8f8           Pharmacy
1  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9   Textile exporter
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49  Korean restaurant
3   0x80c2c89923b27a41:0x32041559418d447       Fabric store
4  0x80c2c632f933b073:0xc31785961fe826a6       Fabric store

In [ ]:
#Kingston Technology Company, Inc.

In [ ]:
crudo_filtro = crudo[crudo['gmap_id'] == '0x80dd2758e11fe2e1:0x7ba54cd5f00ece6b'] # este es el id de kingston
crudo_filtro

                                     gmap_id                        category
12108  0x80dd2758e11fe2e1:0x7ba54cd5f00ece6b  Computer hardware manufacturer
12108  0x80dd2758e11fe2e1:0x7ba54cd5f00ece6b                Corporate office

In [ ]:
crudo_filtro_1 = crudo[crudo['gmap_id'] == '0x80c2cd9c753dcb6f:0x55673eb3ab2a5585'] # este es el id de la marina 
crudo_filtro_1

                                     gmap_id                    category
14580  0x80c2cd9c753dcb6f:0x55673eb3ab2a5585  Military recruiting office

In [ ]:
crudo_filtro_2 = crudo[crudo['gmap_id'] == '0x89c88ebebf964d31:0xb6f3efd368968972'] # este es el id de North Industrial Chemicals Inc
crudo_filtro_2

                                     gmap_id                         category
10559  0x89c88ebebf964d31:0xb6f3efd368968972  Industrial chemicals wholesaler
10559  0x89c88ebebf964d31:0xb6f3efd368968972            Chemical manufacturer

In [ ]:
crudo_filtro_3 = crudo[crudo['gmap_id'] == '0x863f395fc8d0ba67:0xe746c820e26f6638'] # este es el id de cafeteria
crudo_filtro_3

                                    gmap_id         category
7681  0x863f395fc8d0ba67:0xe746c820e26f6638  Fishing charter
7681  0x863f395fc8d0ba67:0xe746c820e26f6638     Fishing club
7681  0x863f395fc8d0ba67:0xe746c820e26f6638     Hunting club

In [ ]:
crudo_filtro_4 = crudo[crudo['gmap_id'] == '0x89c24484b823fed3:0x74f6329f85c4f381'] # este es el id que tiene 32 categorias.
crudo_filtro_4.count()

gmap_id     32
category    32
dtype: int64

In [ ]:


crudo_filtro_5 = crudo[crudo['gmap_id'] == '0x864c1f10c079a921:0x95710cd26231cc3'] # 101 mobility es vino
crudo_filtro_5

                                  gmap_id                     category
536  0x864c1f10c079a921:0x95710cd26231cc3  Mobility equipment supplier