In [21]:
import pandas as pd

In [ ]:
g_sitios = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\google_sitios.parquet', engine='pyarrow')
#pd.set_option('display.max_colwidth', None)

In [24]:
g_sitios = g_sitios.drop(['description', 'price'], axis=1)
g_sitios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2998428 entries, 0 to 3025010
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   name            object
 1   address         object
 2   gmap_id         object
 3   latitude        float64
 4   longitude       float64
 5   avg_rating      float64
 6   num_of_reviews  int64
 7   state           object
 8   url             object
 9   monday          object
 10  tuesday         object
 11  wednesday       object
 12  thursday        object
 13  friday          object
 14  saturday        object
 15  sunday          object
dtypes: float64(3), int64(1), object(12)
memory usage: 388.9+ MB

In [23]:
categorias = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\dataset_gastronomico_google.parquet', engine='pyarrow')
categorias

                                       gmap_id                category
121      0x7954d376a8b12db3:0xa51dd57e1cc14ca9              Food court
125      0x880e5523024703c1:0xb93a8ccb6918d616            Liquor store
126      0x80c8be4e73e8263f:0x3edb275a351e6266            Cocktail bar
142      0x88f3fb847f6a4833:0x91a0e1ef28d778ed            Banquet hall
142      0x88f3fb847f6a4833:0x91a0e1ef28d778ed                 Caterer
...                                        ...                     ...
3024992  0x89c6b993431d9a19:0xea378de3c317996e             Bar & grill
3025005    0x89da6b8177ee49d5:0xbc9dfc53722fe1             Bar & grill
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12             Steak house
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12  Fine dining restaurant
3025006  0x89c6c74f43a49b55:0x6be6995921c58b12      Seafood restaurant

[508929 rows x 2 columns]