In [4]:
import pandas as pd
import os

In [2]:
# Leemos la tabla g_sitios que tenemos hasta el momento.
g_sitios = pd.read_parquet(r'C:\Users\mauri\OneDrive\Escritorio\proyectogrupal\data\google_sitios_act.parquet', engine='pyarrow')
g_sitios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888854 entries, 0 to 2888853
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   name            object
 1   id_negocio      object
 2   description     object
 3   avg_rating      float64
 4   num_of_reviews  int64
 5   price           object
 6   url             object
 7   monday          object
 8   tuesday         object
 9   wednesday       object
 10  thursday        object
 11  friday          object
 12  saturday        object
 13  sunday          object
 14  id_estado       int32
dtypes: float64(1), int32(1), int64(1), object(12)
memory usage: 319.6+ MB

In [ ]:
# Creamos la tabla horarios
g_horarios = g_sitios[['id_negocio','monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday','sunday']]

In [5]:
# Eliminamos los dias de g_sitios
g_sitios = g_sitios.drop(columns=['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'])

# Guardamos el nuevo Dataframe.
os.makedirs('../../../data', exist_ok=True)
g_sitios.to_parquet('../../../data/google_sitios_v1.parquet', index=False)

# Muestra parcial de la tabla:
g_sitios.head()

,name,id_negocio,description,avg_rating,num_of_reviews,price,url,id_estado
0,Porter Pharmacy,0x88f16e41928ff687:0x883dad4fd048e8f8,None,4.9,16,None,https://www.google.com/maps/place//data=!4m2!3...,1
1,City Textile,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,4.5,6,None,https://www.google.com/maps/place//data=!4m2!3...,2
2,San Soo Dang,0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,4.4,18,None,https://www.google.com/maps/place//data=!4m2!3...,2
3,Nova Fabrics,0x80c2c89923b27a41:0x32041559418d447,None,3.3,6,None,https://www.google.com/maps/place//data=!4m2!3...,2
4,Nobel Textile Co,0x80c2c632f933b073:0xc31785961fe826a6,None,4.3,7,None,https://www.google.com/maps/place//data=!4m2!3...,2

In [6]:
# Guardamos el nuevo Dataframe g_horarios.
os.makedirs('../../../data', exist_ok=True)
g_horarios.to_parquet('../../../data/google_horarios.parquet', index=False)

# Muestra parcial de la tabla:
g_horarios.head()

,id_negocio,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,0x88f16e41928ff687:0x883dad4fd048e8f8,8AM–6PM,8AM–6PM,8AM–12PM,8AM–6PM,8AM–6PM,8AM–12PM,Closed
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,No Disponible,No Disponible,No Disponible,No Disponible,No Disponible,No Disponible,No Disponible
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,Closed,6:30AM–6PM,6:30AM–6PM,6:30AM–6PM,6:30AM–6PM,6:30AM–6PM,7AM–12PM
3,0x80c2c89923b27a41:0x32041559418d447,9AM–5PM,9AM–5PM,9AM–5PM,9AM–5PM,9AM–5PM,Closed,Closed
4,0x80c2c632f933b073:0xc31785961fe826a6,9AM–5PM,9AM–5PM,9AM–5PM,9AM–5PM,9AM–5PM,Closed,Closed